<div class="container">
  <h1 data-scout-id="<%= @scout.id %>"><%= @scout.full_name %></h1>
  <div id="advancements" class="hero-unit">
    <h2>Advancements</h2>
    <div class="empty">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Rank</th>
          </tr>
        </thead>
        <tbody>
          <% @scout.advancements.ranks.each do |rank|%>
          <tr data-link="<%= edit_scout_advancement_path(@scout, rank) %>">
            <td><%= rank.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div id="merit_badges" class="hero-unit">
    <h2>Merit Badges</h2>
    <% if @scout.advancements.merit_badges.count == 0 %>
    <div class="empty">Boo, no merit badges yet</div>
    <% else %>
    <div class="empty">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
            </th>
            <th>
              Name
            </th>
            <th>
             Requirements to Complete Advancement
            </th>
          </tr>
        </thead>
        <tbody>
          <% @scout.advancements.merit_badges.each do |badge|%>
          <tr data-link="<%= edit_scout_advancement_path(@scout, badge) %>">
            <td>
              <% if badge.eagle_required == true %>
              <i class="icon-ok"></i>
              <% end %>
            </td>
            <td><%= badge.name %></td>
            <td><%= @scout.scout_advancements.find(badge).reqs_remaining %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
    <a href="#" class="btn btn-success" id="add_merit_badge">Add</a>
  </div>
  <%= button_to 'Remove Scout', @scout, :method => :delete, :class => "btn btn-warning", data: { confirm: 'Are you sure?' }%>
</div>