<h1><%= @advancement.name %></h1>
<div class="container">
  <div class="table" data-scout="<%= params[:scout_id] %>">
  <% @advancement.advancement_requirements.order('ord ASC').each do |req| %>
    <div class="row" data-req="<%= req.requirement_id %>">
      <% if req.label != nil && req.label.is_number? %>
    <div class="cell">
      <%= req.label %>.
    </div>
    <% else %>
        <div class="cell letter">
      <%= req.label %>
        </div>
    <% end %>
      <div class="cell">
        <%= req.requirement.requirement %>
      </div>
      <div class="cell">
        <div class="checkbox">
          <label>
            <input type="checkbox">
          </label>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
<% if @advancement.type == "MeritBadge" %>
<%= button_to 'Delete Merit Badge', scout_advancement_path(@scout, @advancement), :method => :delete, :class => "btn btn-warning", data: { confirm: 'Are you sure?' }%>
<% end %>