<h1><%= @advancement.name %></h1>
<%= button_to 'Go Back', edit_scout_path(@scout), :method => :get, :class => "btn btn-primary" %>
<div class="container">
  <div class="table" data-scout="<%= params[:scout_id] %>" data-advancement="<%= params[:id] %>">
    <% @advancement.advancement_requirements.order('ord asc').each do |req| %>
    <div class="row" data-req="<%= req.requirement_id %>" data-children="<%= req.children %>" data-parent="<%= req.parent %>", data-childrenCount="<%= req.children_count %>">
      <% if req.label != nil && req.label.is_number? %>
      <div class="cell">
        <%= req.label %>.
      </div>
      <% else %>
      <div class="cell letter">
        <%= req.label %>
      </div>
      <% end %>
      <div class="cell">
        <%= req.requirement.requirement %>
      </div>
      <div>

        <% if @scout.scout_requirements.where(:requirement_id => req.requirement_id)[0].completed_date != nil %>
          <%= image_tag("checkmark.png", size: "48x48") %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% if @advancement.type == "MeritBadge" %>
<%= button_to 'Delete Merit Badge', scout_advancement_path(@scout, @advancement), :method => :delete, :class => "btn btn-warning", data: { confirm: 'Are you sure?' }%>
<% end %>
