<h1><%= @advancement.name %></h1>
<%= button_to 'Go Back', edit_scout_path(@scout), :method => :get, :class => "btn btn-primary" %>
<div class="container">
  <div class="table" data-scout="<%= params[:scout_id] %>" data-advancement="<%= params[:id] %>">
    <% @advancement.advancement_requirements.order('ord asc').each do |req| %>
      <% if req.requirement.children_merit_badge_count == 0 %>
        <%= render :partial => 'requirement', :locals => { :req => req } %>
      <% else %>
        <%= render :partial => 'requirement', :locals => { :req => req } %>
        <%= render :partial => 'requirement_mb', :locals => { :num => req.requirement.children_merit_badge_count } %>
      <% end %>
    <% end %>
  </div>
</div>
<% if @advancement.type == "MeritBadge" %>
<%= button_to 'Delete Merit Badge', scout_advancement_path(@scout, @advancement), :method => :delete, :class => "btn btn-warning", data: { confirm: 'Are you sure?' }%>
<% end %>
