<!DOCTYPE html>
<html>
<head>
  <title>Lilly</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="text/template" id="new_scout_modal">
  <h1 class="modal-header">Add New scout</h1>
  <form class="modal-body">
    <label>First Name</label>
    <input id="first_name" type="text">
    <label>Last Name</label>
    <input id="last_name" type="text">
    <label>Birthday</label  >
    <input id="birthdate" type="date">
  </form>
</script>

<script type="text/template" id="add_merit_badge_modal">
  <h1 class="modal-header">Choose Merit Badge</h1>
  <form class="modal-body">
    <div class="chosen">
    <select class="chzn-select" id="chzn-select">
      <% MeritBadge.alpha.all.each do |mb| %>
      <option><%= mb.name %></option>
      <% end %>
    </select>
    </div>
  </form>
</script>

<script type="text/template" id="add_service_hours_modal">
  <h1 class="modal-header">Add Service Hours</h1>
  <form class="modal-body">
    <label>Title</label>
    <input id="service_title" type="text">
    <label>Place</label>
    <input id="service_place" type="text">
    <label>Date of Service</label  >
    <input id="service_date" type="date">
    <label>Hours</label>
    <select class="chzn-select" id="service_hours">
      <option>1 Hour</option>
      <option>2 Hours</option>
      <option>3 Hours</option>
      <option>4 Hours</option>
      <option>5 Hours</option>
      <option>6 Hours</option>
      <option>7 Hours</option>
      <option>8 Hours</option>
      <option>9 Hours</option>
      <option>10 Hours</option>
      <option>11 Hours</option>
      <option>12 Hours</option>
      <option>13 Hours</option>
      <option>14 Hours</option>
      <option>15 Hours</option>
      <option>16 Hours</option>
      <option>17 Hours</option>
      <option>18 Hours</option>
      <option>19 Hours</option>
      <option>20 Hours</option>
    </select>
    <label>Minutes</label>
    <select class="chzn-select" id="service_mins">
      <option>15 mins</option>
      <option>30 mins</option>
      <option>45 mins</option>
    </select>
  </form>
</script>

<div id="modal_container" class="modal hide fade in" style="display: none; ">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>This is a Modal Heading</h3>
	</div>
	<div class="modal-body">
		<h4>Text in a modal</h4>
		<p>You can add some text here.</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-success" id="complete">Add</a>
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>

</body>
</html>
